<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>

<body>
    <div class="book-container">
        <div class="cover cover-left"></div>
        <div class="cover cover-right"></div>
        <div class="book-pages-container">
            <div class="page-left" style="height: 100%;">
                <app-profile></app-profile>

            </div>
            <div class="page-right">
                <app-rankings style="width: 100%;text-align: center;"></app-rankings>
            </div>
        </div>
    </div>
</body>

</html>