<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>

<body>
    <div class="book-container">
        <div class="cover cover-left"></div>
        <div class="cover cover-right"></div>
        <div class="book-pages-container" *ngIf="currentPage$ | async as currentPage">
            <div class="book-page page-left" style="height: 100%;">
                <app-profile></app-profile>

            </div>
            <div class="book-page page-right" id="turn-1" [ngClass]="{ 'turn': currentPage == 2}" [ngStyle]="{'z-index': zIndexes[0].zIndex}">
                <div class="page-front">
                    <app-rankings></app-rankings>
                </div>
                <div class="page-back">
                     <app-exercise [questions]="exerciseOneQuestions"></app-exercise>
                </div>
            </div>
            <div class="book-page page-right" id="turn-2"  [ngStyle]="{'z-index': zIndexes[1].zIndex}">
                <div class="page-front">
                    <app-exercise [questions]="exerciseTwoQuestions" [exerciseNumber]=2></app-exercise>
                </div>
                <div class="page-back">
                    <app-exercise [questions]="exerciseThreeQuestions" [exerciseNumber]="3"></app-exercise>
                </div>
            </div>
            <div class="book-page page-right" id="turn-3" [ngStyle]="{'z-index': zIndexes[2].zIndex}">
                <div class="page-front">
                    <app-exercise [questions]="exerciseFourQuestions" [exerciseNumber]="4"></app-exercise>
                </div>
                <div class="page-back">
                    <app-exercise [questions]="exerciseFiveQuestions" [exerciseNumber]="5"></app-exercise>
                </div>
            </div>
            <div class="book-page page-right" id="turn-4" [ngStyle]="{'z-index': zIndexes[3].zIndex}">
                <div class="page-front">
                    <app-congratulations></app-congratulations>
                </div>
                <div class="page-back">
                    <app-achievements></app-achievements>
                </div>
            </div>
        </div>
    </div>
</body>

</html>