.book-container{
    height: 45rem;
    width: 66rem;
    
    position: relative;
    padding: 2rem;
    background-color: red;
}

.cover {
    position: absolute;
    top: 0;
    background: var(--cover-color);
    width: 50%;
    height: 100%;
}

.cover.cover-left {
    left: 0;
}

.cover.cover-right {
    right: 0;
    transform: rotateY(180);
}

.book-pages-container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    perspective: 250;
}

.book-pages-container .book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    box-shadow: 0 0 .6rem rgba(0, 0, 0, .1);

}

.page-left, .page-right{

    background: var(--page-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-page.page-right {
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    // & :hover{
    //     border: 3px solid red;
    // }
}

.book-page.page-right.turn {
    transform: rotateY(-180deg);
}

.book-page .page-front,
.book-page .page-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pages-color);
    padding: 1.5rem 2rem;
}

.book-page .page-front {
    transform: rotateY(0deg) translateZ(1px);
}

.book-page .page-back {
    transform: rotateY(180deg) translateZ(1px);
}


.page-right {
    background: var(--page-color);
    transform-style: preserve-3d;
    transform-origin: left;
}

.page-right.turn {
    transform: rotateY(-180deg);
}

.page-front,
 .page-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pages-color);
    padding: 1.5rem 2rem;
}

.page-front {
    transform: rotateY(0deg) translateZ(1px);
}

.page-back {
    transform: rotateY(180deg) translateZ(1px);
}