<div class="header-wrapper">
    <h2>Nicha Ngamtweerat</h2>
    <span class="star-container" style="margin: 0;">
        <i class='bx bxs-star'></i>
        <i class='bx bxs-star'></i>
        <i class='bx bxs-star'></i>
        <i class='bx bxs-star'></i>
        <i class='bx bxs-star'></i>
    </span>

    <div class="image-wrapper">
        <img src="me.png" alt="">
    </div>
</div>
<div class="checkpoint-container success">
    <span>Level 1</span>
    <span>80 %</span>
</div>
<div class="checkpoint-container success">
    <span>Level 2</span>
    <span>80 %</span>
</div>
<div class="checkpoint-container success">
    <span>Level 3</span>
    <span>80 %</span>
</div>
<div class="checkpoint-container">
    <span>Level 4</span>
    <span>-</span>
</div>
<div class="checkpoint-container">
    <span>Level 5</span>
    <span>-</span>
</div>
<div class="button-container">
    <button [disabled]="disabled" (click)="logout()">Logout</button>
    <button [disabled]="disabled" class="revert-style" (click)="turnAllPagesBackward()">Profile</button>
</div>