<div class="header-wrapper" *ngIf="user$ | async as user">
    <h2>{{user.firstName}} {{user.lastName}}</h2>
    <span class="star-container" style="margin: 0;">
        @for (item of user.currentLevel | starRating; track item) {
        <i class='bx bxs-star'></i>
        }
    </span>

    <div class="image-wrapper">
        <img [src]="user.image" alt="">
    </div>
</div>
<div *ngIf="allExerciseScores$ | async as allScores">

    <div class="checkpoint-container" [ngClass]="allScores[0] | score">
        <span>Level 1</span>
        <span>{{allScores[0]}} %</span>
    </div>
    <div class="checkpoint-container" [ngClass]="allScores[1] | score">
        <span>Level 2</span>
        <span>{{allScores[1]}} %</span>
    </div>
    <div class="checkpoint-container" [ngClass]="allScores[2] | score">
        <span>Level 3</span>
        <span>{{allScores[2]}} %</span>
    </div>
    <div class="checkpoint-container" [ngClass]="allScores[3] | score">
        <span>Level 4</span>
        <span>{{allScores[3]}} %</span>
    </div>
    <div class="checkpoint-container" [ngClass]="allScores[4] | score">
        <span>Level 5</span>
        <span>{{allScores[4]}} %</span>
    </div>
    <div class="button-container">
        <button [disabled]="disabled" (click)="logout()">Logout</button>
        <button [disabled]="disabled" class="revert-style" (click)="turnAllPagesBackward()">Profile</button>
    </div>
</div>