<h1>Exercise 1</h1>
<div class="question-container">
    <span class="question">1 x 1</span>
    <span class="question">=</span>
    <span class="answer"><input type="number"></span>
</div>
<div class="question-container">
    <span class="question">1 x 1</span>
    <span class="question">=</span>
    <span class="answer"><input type="number"></span>
</div>
<div class="question-container">
    <span class="question">1 x 1</span>
    <span class="question">=</span>
    <span class="answer"><input type="number"></span>
</div>
<div class="question-container">
    <span class="question">1 x 1</span>
    <span class="question">=</span>
    <span class="answer"><input type="number"></span>
</div>
<div class="question-container">
    <span class="question">1 x 1</span>
    <span class="question">=</span>
    <span class="answer"><input type="number"></span>
</div>
<div class="button-container">
    <button>Submit</button>
</div>