<!-- <div class="page-wrapper"> -->
<div class="image-wrapper">
    <img src="me.png" alt="">
</div>
<div class="text-container">
    <h3>Nicha Ngamtweerat</h3>
    <p>Welcome Back Nicha! Have a great time solving problems!</p>
</div>
<div class="level-and-rank">
    <div class="rank">
        <p>Current Level</p>
        <p>5</p>
    </div>
    
    <div class="rank">
        <p>Rank</p>
        <span class="star-container" style="margin: 0;">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
        </span>
    </div>
</div>
<div class="button-container">
    <button>Logout</button>
    <button class="revert-style">Achievements</button>
</div>
<!-- </div> -->