<div *ngIf="user$ | async as user">
    <div class="image-wrapper">
        <img [src]="user.image" alt="">
    </div>
    <div class="text-container">
        <h3>{{user.firstName}} {{user.lastName}}</h3>
        <p>Welcome Back {{user.firstName}}! Have a great time solving problems!</p>
    </div>
    <div class="level-and-rank">
        <div class="rank">
            <p>Current Level</p>
            <p>{{user.currentLevel}}</p>
        </div>

        <div class="rank">
            <p>Rank</p>
            <app-star-rating [currentLevel]="user.currentLevel" style="margin: 0;"></app-star-rating>
        </div>
    </div>
    <div class="button-container">
        <button [disabled]="disabled" (click)="logOutUser()">Logout</button>
        <button [disabled]="disabled" class="revert-style" (click)="turnAllPagesForward()">Achievements</button>
    </div>
</div>