<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>

<body>
    <form class="book-container" [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="image-wrapper">
            <img src="human-icon.jpg" alt="">
        </div>
        <div class="text-container">
            <div>
                <input type="text" placeholder="USERNAME" formControlName="username">
            </div>
            <div>
                <input type="password" placeholder="PASSWORD" formControlName="password">
            </div>
        </div>
        <div class="button-container">
            <button type="submit">Login</button>
            <button class="revert-style">Signup</button>
        </div>
        
    </form>
</body>

</html>