h1 {
    color: var(--text-color);
}

.question-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    & .question {
        font-size: 1.5rem;
        padding: 0 1.5rem;
        background: var(--white-color);
    }

    & .answer input {
        height: 100%;
        padding: 0 1.0rem;
        position: relative;
    }
}

.question-container:first-of-type{
    margin-top: 4rem;
}
.button-container {
    margin-top: 4rem;
    text-align: center;

}


.bx {
    font-size: 25px;
    &.bx-check {
        color: green;
    }
    &.bx-x {
        color: red;
    }
}

.disable-button{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}