<h1>Exercise {{exerciseNumber}}</h1>
@for (question of questions; track $index) {
    <div class="question-container">
        <span class="question">{{question}}</span>
        <span class="question">=</span>
        <form [formGroup]="form" class="answer"><input type="number" [formControlName]="'answer' + ($index+1)"></form>
    </div>
    } @empty {
    <li>There are no questions.</li>
}

<div class="button-container">
    <button [disabled]="disabled">Submit</button>
    <button [disabled]="disabled" class="revert-style" (click)="navigatePage()">{{exerciseNumber | pageNavigation}}</button>
</div>

<!-- {{(specificExerciseQuestions$ | async) | json}} -->
