h1 {
    color: var(--text-color);
}

.question-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    & .question {
        font-size: 1.5rem;
        padding: 0 1.5rem;
        background: var(--white-color);
    }

    & .answer input {
        height: 100%;
        padding: 0 1.5rem;
    }
}

.question-container:first-of-type{
    margin-top: 4rem;
}
.button-container {
    margin-top: 4rem;
    text-align: center;

}
button {
    font-size: 1rem;
    padding: 10px 20px;
    background: var(--text-color);
    color: var(--white-color);
    border-radius: 5px;
}



